html, body {
  /* background-color: lightslategrey; */
  /* background-color: cadetblue; */
  background-color: steelblue;
  position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

#checker-board {
  width: 650px;
  height: 650px;
  border: 10px solid rgb(47, 47, 47);
  margin-top: -25px;
  margin-right: 100px;
  float: right;
}
h1{
  font-size: 55px;
  padding-bottom: 5px;
}
p{
  font-size: 15px;
}
.square {
  width: 81.25px;
  height: 81.25px;
  float: left;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.checker {
  width: 72.66px;
  height: 72.666px;
  border-radius: 30px;
  position: absolute;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
.textunits {
margin-top: 100px;
margin-left: 100px;
}
.gameDesign {
  border: 5px solid black;
  border-radius: 15px ;
  float: left;
  height: 210px;
  width: 500px;
  margin-left: 20px;
  /* margin-top: 40px; */
  background-color: white;
  font-family: cursive;
  text-align: center;
}
.users {
  border: 4px solid black;
  border-radius: 15px;
  width: 505px;
  height: 85px;
  background-color: white;
  margin-left: -510px;
  font-family: cursive;
  margin-top: 250px;
  float: left;
}
.name1 {
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
.name2 {
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;

}
#next {
  margin-top: 600px;
  width: 100px;
  height: 30px;
  visibility: hidden;
}
