@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: black;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.lboard_section{
	width: 500px;
	height: 400px;
	margin: 100px auto 0;
	background: white;
	padding: 25px 40px;
	position: relative;
	border-radius: 5px;
}

.lboard_section p span{
	margin:35%;
	font-weight: bold;
}

.container{
	position: absolute;
	top: 70px;
	left: 40px;
	background: rgb(216, 216, 216);
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.lboard_section .container{
	display: table-row;
	align-items: center;
	padding: 15px 0;
}

.container .row{
	margin-right: 50px;
    font-weight: 500;
    border-bottom: 1px solid black;
    color: grey;
    margin-bottom: 25px;
    margin-left: 15px;
    padding-top: 30px;
}
.row .name{
	margin-left: 10px;
}
.row .name span{
	margin-right: 50%;
	font-family: 'Montserrat', sans-serif;
}

.row .score{
	width: 100px;
	margin-left: 300px;
	margin-right: 0px;
}

.row p{
	display: inline;
	font-weight: bold;
	color: black;
}
